body {
    color: white;
    text-align: center;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card_face {
    border: solid 2px;
    width: 675px;
    background-size: cover;
    background-image: url('assets/background.webp');
    background-position: center;
}

.pfp {
    aspect-ratio: 1;
    border-radius: 100%;
    background-size: cover;
    background-image: url('assets/pfp.png');
    background-position: center;
}