.card_face {
    aspect-ratio: 9/21;
    width: 321px;
}

#back {
    margin-top: 2px;
}

@media (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.pfp {
    width:40%;
}